//-- Блок с карточками товаров
.card-product-block
    include card-product.pug 
    include card-product.pug 
    include card-product.pug 
    include card-product.pug 
    include card-product.pug 
    include card-product.pug 