.card-block-container
    .catalog-list-block
    .card-product-block
        include card-product.pug 
        include card-product.pug 
        include card-product.pug 
        include card-product.pug 
        include card-product.pug 
        include card-product.pug 