.card-product
    .card-product__name
        .card-product__name_img
        .card-product__name_vendor Арт. A9D56616
        .card-product__name_title Дифавтомат Schneider Electric Acti9 2P 16А (B) 6кА 30мА (AC)
    .card-product__discr
        .card-product__discr_availability
            .availability__number 5 шт.
            .availability__time 5-6 нед.
        .card-product__discr_price 
            .price 25 000
            img(src="../../img/ruble_sign_icon.svg", alt="").ruble_sign_icon
        .card-product__discr_basKet