//-- Блок навигации с каталогом товаров в левой части экрана под меню каталога
.left-block-nav
    ul.section-manufacturer
        li.section-manufacturer__item.section-manufacturer__item_title Бренд/Производитель
        li.section-manufacturer__item.section-manufacturer__item_brand
            form.manufacturer-item
                input(type="checkbox").manufacturer-item__check
                .manufacturer-item__parametr Schneider Electric
        li.section-manufacturer__item
            form.manufacturer-item
                input(type="checkbox").manufacturer-item__check
                .manufacturer-item__parametr ABB Group
        li.section-manufacturer__item
            form.manufacturer-item
                input(type="checkbox").manufacturer-item__check
                .manufacturer-item__parametr IEK Group
        li.section-manufacturer__item 
            form.manufacturer-item
                input(type="checkbox").manufacturer-item__check
                .manufacturer-item__parametr Hyundai electric
        li.section-manufacturer__item 
            form.manufacturer-item
                input(type="checkbox").manufacturer-item__check
                .manufacturer-item__parametr WAGO Global
        li.section-manufacturer__item 
            form.manufacturer-item
                input(type="checkbox").manufacturer-item__check
                .manufacturer-item__parametr Finder
        li.section-manufacturer__item 
            form.manufacturer-item
                input(type="checkbox").manufacturer-item__check
                .manufacturer-item__parametr Weidmueller