//-- Блок навигации с каталогом товаров в левой части экрана под меню каталога
.left-block-nav
    //-- Секция со списком производителей
    .section-manufacturer
        .section-manufacturer__title Бренд
        ul.section-manufacturer__list
            li.section-manufacturer__item
                form.manufacturer-item
                    input(type="checkbox").manufacturer-item__check
                    .manufacturer-item__parametr Schneider Electric
            li.section-manufacturer__item
                form.manufacturer-item
                    input(type="checkbox").manufacturer-item__check
                    .manufacturer-item__parametr ABB Group
            li.section-manufacturer__item
                form.manufacturer-item
                    input(type="checkbox").manufacturer-item__check
                    .manufacturer-item__parametr IEK Group
            li.section-manufacturer__item 
                form.manufacturer-item
                    input(type="checkbox").manufacturer-item__check
                    .manufacturer-item__parametr Hyundai Electric
            li.section-manufacturer__item 
                form.manufacturer-item
                    input(type="checkbox").manufacturer-item__check
                    .manufacturer-item__parametr WAGO Global
            li.section-manufacturer__item 
                form.manufacturer-item
                    input(type="checkbox").manufacturer-item__check
                    .manufacturer-item__parametr Finder
            li.section-manufacturer__item 
                form.manufacturer-item
                    input(type="checkbox").manufacturer-item__check
                    .manufacturer-item__parametr Weidmueller