//-- Блок навигации с каталогом товаров в левой части экрана под меню каталога
.left-block-nav
    //-- Секция со списком производителей
    .section-manufacturer
        .lbn-section-title.section-manufacturer__title Бренд
        ul.lbn-section-list.section-manufacturer__list
            li.lbn-section-item.section-manufacturer__item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Schneider Electric
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr ABB Group
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr IEK Group
            li.lbn-section-item 
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Hyundai Electric
            li.lbn-section-item 
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr WAGO Global
            li.lbn-section-item 
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Finder
            li.lbn-section-item 
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Weidmueller
    .section-type   
        .lbn-section-title.section-type__title Тип
        ul.lbn-section-list.section-type__list
            li.lbn-section-item 
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Аппараты защиты
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Пускатели и контакторы
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Рубильники и разъединителы
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Кнопки и переключатели
            li.lbn-section-item 
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Световая сигнализация
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Приборы контроля
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Устройства управления
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Трансформаторы
            li.lbn-section-item
                form.form-item
                    input(type="checkbox").lbn-section-item__check
                    .lbn-section-item__parametr Клеммы и стопоры