section.discription-product-section 
    h2.discription-product-section__title Дифференциальный блок Schneider Electric Acti9 4P 63А 30мА (AC)
    .discription-product-section__discription-product
        img(src="../img/img-product/A9V41463/A9V41463_big.jpg", alt="Дифференциальный блок Schneider Electric Acti9 4P 63А 30мА (AC)").discription-product__img
        .discription-product__characteristic
            h3.characteristic__title Характеристики:
            ul.characteristic-type-list 
                li.characteristic-type-item
                    .characteristic-type__name Тип
                    .characteristic-type__siscr Дополнительные устройства защитного отключения
                li.characteristic-type-item
                    .characteristic-type__name Номинальный ток
                    .characteristic-type__siscr 63 А
                li.characteristic-type-item
                    .characteristic-type__name Номинальное напряжение
                    .characteristic-type__siscr 220 (230)\ 380 (400) В
                li.characteristic-type-item
                    .characteristic-type__name Тип утечки
                    .characteristic-type__siscr АС
                li.characteristic-type-item
                    .characteristic-type__name Степень защиты
                    .characteristic-type__siscr IP20
                li.characteristic-type-item
                    .characteristic-type__name Модельный ряд
                    .characteristic-type__siscr Acti 9
                li.characteristic-type-item
                    .characteristic-type__name Ток утечки
                    .characteristic-type__siscr 30 мА
                li.characteristic-type-item
                    .characteristic-type__name Количество полюсов
                    .characteristic-type__siscr 4 пол. 
                li.characteristic-type-item
                    .characteristic-type__name Вес нетто
                    .characteristic-type__siscr 0,3 кг.
                li.characteristic-type-item
                    .characteristic-type__name Габарит без упаковки
                    .characteristic-type__siscr 91х135х73.5 мм
        .discription-product__bascket-block
            img(src="../img/scneider_logo.jpg", alt="Schneider Electric").img-brend
            ul.characteristic-type-list 
                li.characteristic-type-item
                    .characteristic-type__name Наличие:
                    .characteristic-type__siscr В наличие
                li.characteristic-type-item
                    .characteristic-type__name Артикул:
                    .characteristic-type__siscr A9V41363
                li.characteristic-type-item
                    .characteristic-type__name Серия:
                    .characteristic-type__siscr  Acti 9
                .card-product__discr
                    .card-product__discr_availability
                        .availability__number 999 шт.
                        .availability__time 5-12 нед.
                    .card-product__discr_price 
                        .price 25 000
                        img(src="../../img/ruble_sign_icon.svg", alt="Обозначение валюты рубль").ruble_sign_icon
                    form.card-product__discr_basket
                        .basket__decrement -
                        .basket__position 999
                        .basket__increment +
                        button.basket__button В корзину
    h3.characteristic__title Описание:
    .characteristic__discr Данный блок не является самостоятельным устройством и не может быть использован 
        | с автоматическими выключателями других серий. В сочетании с автоматическим выключателем iC60, 
        | блок Vigi iC60 выполняет функции защиты людей от поражения электротоком при прямом 
        | прикосновении (y 30 мА), защита людей от поражения электротоком при косвенном прикосновении (u 100 мА), 
        | защита электроустановок от риска возгорания (300 - 500 мА).
