block doctype
    - var stylePath = [];
    - var titleName;
    - var contentDiscription;
    - var canonical;

doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=contentDiscription)
        link(rel="icon", href="https://gubinvs.ru/favicon.svg", type="image/svg+xml")
        link(rel='stylesheet', href='css/project-style.css')
        each val in stylePath
            link(rel='stylesheet', href=val)
        else
         | <!-- . -->
        link(rel="canonical", href=canonical)

        title #{titleName}
    body
        block content
        