//- Подключил шаблон с разметкой страницы
extends doctypes.pug

//- Изменил название страницы
block doctype
    //- Описание страницы в head discription
    - var contentDiscription = 'Комплексные поставки комплектующих для средств автоматизации';
    //- Наименование главной страницы
    - var titleName = 'Компонент энергии - поставки комплектующих для низковольтного оборудования';
    //- Массив с путями к файлам со стилями
    - var stylePath = ['css/ip-style.css'];
    //-- указывает поисковому роботу адрес главной страницы среди группы страниц дублей
    - var canonical = '';


//- Вставил блок с будующим контентом
block content
    include html/header.pug 
    main
        h1(class="visually-hidden h1-visually", style="visibility: hidden;").h1__visually Перечень комплектующих для средств автоматизации
        //-- Блок выдачи результатов запроса по номенклатуре комплектующих
        .container.flex-row
            include html/component/left-block-nav.pug 
            include html/component/block-card-product.pug 
        .container 
            include html/discription-prduct.pug 

    script(src="js/app.js", type="module")
    