@import 'variables.scss';

.header-nav__list,
.header-nav,
.control-block,
.control-list,
.control-list__item,
.search-block,
.search-block__catalog, 
.search-block__form,
.search-block-form__text,
.search-block-form__botton_submit {
    display: flex;
}

.control-list__item {
    flex-direction: column;
}

.header-nav,
.control-block, 
.control-list__item,
.search-block {
    justify-content: space-between;
}

.search-block-subsection {
    justify-content: flex-start;
}

.search-block-form__text,
.search-block-form__botton_submit {
    justify-content: center;
}

.control-list__item,
.search-block__catalog,
.search-block__form,
.search-block-form__text,
.search-block-form__botton_submit {
    align-items: center;
}

.search-block__catalog,
.search-block-list__item {
    background-repeat: no-repeat;
}

.search-block__catalog,
.search-block-list__item,
.search-block-list_subsection__item {
    cursor: pointer;
}

header,
.search-block-list {
    padding-top: 20px;
}

.search-block-list__item {
    padding-left: 10px;
}

.search-block__catalog,
.search-block-list_subsection__item {
    padding-left: 80px;
}

.search-block-list_subsection__item {
    padding-right: 80px;
}

.header-nav__item:not(:last-of-type),
.control-list__item:not(:last-of-type) {
    margin-right: 20px;
}

.header-nav__item:nth-child(3),
.header-nav__item:nth-child(4) {
    margin-right: 8px;
}

.header-nav,
.control-block,
.search-block {
    margin-bottom: 20px;
}

.header-nav {
    margin-bottom: 60px;
}

.header-nav__item_company {
    padding: 0px 10px 0px 10px;
    border: .5px solid $colorText;
    border-radius: 10px;
}

.search-botton__icon {
    width: 20px;
}

.header-social-icon {
    width: 24px;
}

.search-block-form__botton_submit {
    width: 60px;
}

.control-list__item_img {
    width: 58px;
}

.search-block-list,
.search-block__catalog {
    width: 305px;
}

.search-botton__icon {
    height: 20px;
}

.header-social-icon {
    height: 24px;
}

.search-block__catalog,
.search-block-form__text,
.search-block-form__botton_submit {
    height: 50px;
}

.search-block__catalog,
.search-block-form__text,
.search-block-list__item,
.search-block-list_subsection__item {
    font-size: 20px;
}

.search-block__catalog {
    background-image: url(../img/burger.svg);
    background-position: left 20px center;
}

.search-block-form__text {
    // -- длина input минус ширина кнопок
    width: calc(955px - 20px - 40px);
    border: 0px; 
    padding-right: 20px;
    padding-left: 20px;
}

.search-block__catalog,
.search-block-form__text,
.search-block-form__botton_submit {
  background-color: $colorBackgroundSearch;  
}

.search-block__catalog:hover,
.search-block-list__item:hover,
.search-block-list_subsection__item:hover {
    background-color: $colorBackgroundSearchHover;
}

.control-list__item_basket {
    position: relative;
}

.quantity-shopping-icon {
    position: absolute;
    top: -10px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 4px solid $colorBackgroundBody;
    background-color: $colorBackgroundIconBasket;
    font-size: 12px;
    color: $colorBackgroundBody;
}

.search-block-list__item {
    background-image: url(../img/chevron_right_icon.svg);
    background-position: right;
}

.shopping-icon__display-none,
.search-block-none,
.list_subsection-none {
    display: none;
}


@media only screen and (max-width: 1280px) {
    .search-block-list,
    .search-block__catalog {
        width: 320px;
    }   

    .search-block-form__text {
        // -- длина input минус ширина кнопок
        width: calc(660px - 20px - 40px);
    }
}

@media only screen and (max-width: 1024px) {
    .search-block-list,
    .search-block__catalog {
        width: 294px;
    }

    .search-block-form__text {
        // -- длина input минус ширина кнопок
        width: calc(496px - 20px - 40px);
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-nav__item_company {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 320px;
    }

    .search-block {
        flex-direction: column-reverse;
    }

    .search-block__catalog,
    .search-block-form__text {
        width: 100%;
        height: 50px;
    }   
    
    .search-block__form {
        margin-bottom: 8px;
    }
}
