//-- Шрифты
$font-family: 'Prosto One', sans-serif;
$font-textBady: 'Istok Web', sans-serif;


// -- Цветовая палитра проекта
$colorText: #000000;
$colorBackgroundBody: #ffffff;
$colorBackgroundSearch: #F0F0F0;      
$colorBackgroundSearchHover: #D9D9D9; //-- цвет блока при наведении курсора
$colorBackgroundIconBasket: #18950D; // -- цвет кружечка с количеством позиций в корзине